<DModalBody @class="user-notes-modal">
  <Textarea @value={{this.newNote}} />
  <DButton
    @action={{action "attachNote"}}
    @label="user_notes.attach"
    @class="btn-primary"
    @disabled={{this.attachDisabled}}
  />

  {{#each model as |n|}}
    <div class="user-note">
      <div class="posted-by">
        <UserLink @user={{n.created_by}}>
          {{avatar n.created_by imageSize="small"}}
        </UserLink>
      </div>
      <div class="note-contents">
        <div class="note-info">
          <span class="username">{{n.created_by.username}}</span>
          <span class="post-date">{{age-with-tooltip n.created_at}}</span>

          {{#if n.can_delete}}
            <span class="controls">
              <DButton
                @action={{action "removeNote" n}}
                @icon="far-trash-alt"
                @class="btn-small btn-danger"
                @title="user_notes.remove"
              />
            </span>
          {{/if}}
        </div>

        <div class="cooked">
          <CookText @rawText={{n.raw}} />
        </div>

        {{#if n.post_id}}
          <a href={{n.post_url}} class="btn btn-small">
            {{i18n "user_notes.show_post"}}
          </a>
        {{/if}}
      </div>

      <div class="clearfix"></div>
    </div>
  {{/each}}
</DModalBody>